<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>实训平台-首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- popup box -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <style>
        @keyframes fade-in {
            0% {opacity: 0;}/*初始状态 透明度为0*/
            40% {opacity: 0;}/*过渡状态 透明度为0*/
            100% {opacity: 1;}/*结束状态 透明度为1*/
        }
        @-webkit-keyframes fade-in {/*针对webkit内核*/
            0% {opacity: 0;}
            40% {opacity: 0;}
            100% {opacity: 1;}
        }
        #div1 {
            animation: fade-in;/*动画名称*/
            animation-duration: 1.5s;/*动画持续时间*/
            animation-delay: 3s;
            -webkit-animation-delay: 3s;
            -webkit-animation:fade-in 1.5s;/*针对webkit内核*/
        }
        #div2 {
            animation: fade-in;/*动画名称*/
            animation-duration: 3s;/*动画持续时间*/
            -webkit-animation:fade-in 3s;/*针对webkit内核*/
        }
        #div3 {
            animation: fade-in;/*动画名称*/
            animation-duration: 4.5s;/*动画持续时间*/
            -webkit-animation:fade-in 4.5s;/*针对webkit内核*/
        }
        #div4 {
            animation: fade-in;/*动画名称*/
            animation-duration: 6s;/*动画持续时间*/
            -webkit-animation:fade-in 6s;/*针对webkit内核*/
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-light py-4">
            <!-- logo -->
            <h1>
                <a class="navbar-brand" style="padding-left: 400px">
                    关于我们
                </a>
            </h1>
        </nav>
        <!-- //nav -->
    </div>
</header>
<section class="w3ls-bnrbtm py-5">
    <!-- title description  -->
    <a name="about" id="about"></a>
    <div class="container py-sm-5">
        <div class="row pt-lg-5">
            <div class="col-lg-5  bb-left">
                <span class="w3-line">what we do</span>
                <h3 class="agile-title">关于本平台</h3>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                <p>本平台可以服务于参与实训的在校大学生及指导老师。<br>
                    在为学生提供实训全过程同步记录的同时，又给教师提供便捷准确的指导通道，<br>
                    让实训与实训管理更加高效。</p>
            </div>
        </div>
    </div>
    <!-- //title description  -->
</section>
<!-- //banner bottom -->
<!-- about -->
<section class="py-sm-5 py-3">
    <a name="special" id="special"></a>
    <div class="container">
        <div class="agileabt-w3 py-lg-5">
            <div class="row my-md-5 mt-sm-5 my-4">
                <!-- about left grid -->
                <div class="col-lg-6 order-lg-0 order-1  mt-lg-0 mt-5">
                    <div class="row">
                        <div id="div1" class="col-6 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon p-lg-5 p-4">
                                    <i class="fas fa-chart-line"></i>
                                    <h4 class="my-3 text-capitalize text-dark">Efficiency</h4>
                                </div>
                            </div>
                        </div>
                        <div id="div2" class="col-6 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon p-lg-5 p-4">
                                    <i class="fab fa-magento"></i>
                                    <h4 class="my-3 text-capitalize text-dark">Practice</h4>
                                </div>
                            </div>
                        </div>
                        <div id="div3" class="col-6 mt-4 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon  p-lg-5 p-4">
                                    <i class="fas fa-chart-pie"></i>
                                    <h4 class="my-3 text-capitalize text-dark">Effort</h4>
                                </div>
                            </div>
                        </div>
                        <div id="div4" class="col-6 mt-4 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon p-lg-5 p-4">
                                    <i class="fab fa-accusoft"></i>
                                    <h4 class="my-3 text-capitalize text-dark">Creativity</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about right grid -->
                <div class="col-lg-6 order-lg-1 order-0">
                    <h3 class="agile-title text-lg-right">Make connection easier!</h3>
                    <h3 class="agile-title text-lg-right">为实训学生与老师提供更便利、更直接的交流</h3>
                    <div class="w3ls-abt">
                        <img src="images/banner2.png" alt="" class="img-fluid" />
                    </div>
                </div>
                <!-- //about right grid -->
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!-- video -->
<section class="pb-md-5">
    <div class="container">
        <div class="agileabt-w3">
            <div class="row pb-5">
                <div class="col-lg-6 order-lg-0 order-1  mt-lg-0 mt-5">
                    <h3 class="agile-title">一个良好的交流平台</h3>
                    <br><br><br><br>
                    <ul class="list-group mt-3">
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>学生参与实习</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>实习同步记录</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>教师管理学生</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>教师指导实习</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>教师学生互动</li>
                    </ul>
                </div>
                <div class="col-lg-6 grad_video p-sm-5 p-4  order-lg-1 order-0">
                    <!-- Button trigger modal -->
                    <div class="button">
                        <img src="images/cooperation.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //video -->
<!-- team -->
<section class="wthree-row py-5" style="background-color: #ffc42e">
    <!-- team container -->
    <a name="admin" id="admin"></a>
    <div class="team_bg_w3ls">
        <div class="container py-sm-5">
            <!-- title description -->
            <div class="row py-lg-5">
                <div class="col-lg-5  bb-left">
                    <span class="w3-line">Admin Style</span>
                    <h3 class="agile-title">管理员模式</h3>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                    <p>本平台采用管理员管理模式：<br>
                        由管理员为学生及老师创建账户，并掌握相关的管理与删除的职责<br>
                        由管理员创建实训计划及项目，并为项目安排指导教师、将学生组成团队并加入项目<br>
                        逻辑结构明晰，管理方便</p>
                    <a class="btn btn-danger  mt-sm-4 text-capitalize scroll" data-toggle="modal" data-target="#exampleModal3">注册管理员</a>
                </div>
            </div>
            <!-- //title description -->
        </div>
    </div>
    <!-- //team container -->
</section>
<!-- //team -->
<!-- footer top -->
<section class="footerw3-top py-lg-5">
    <div class="container py-md-5">
        <!-- footer top row -->
        <div class="row py-5">
            <div class="col-md-4">
                <img src="images/f1.png" alt="" class="img-fluid">
                <h4 class="feed-title my-3">Email and Live chat
                    <span>24/7</span>
                </h4>
                <p>Welcome to contact and<br>
                    communicate with us!</p>
            </div>
            <div class="col-md-4 my-md-0 my-4">
                <img src="images/f2.png" alt="" class="img-fluid">
                <h4 class="feed-title my-3">any query or clarifiactions?
                    <span>call us</span>
                </h4>
                <p class="mb-0">+ 10 000 12345 </p>
                <p>+ 10 000 12346 </p>
            </div>
            <div class="col-md-4">
                <img src="images/f3.png" alt="" class="img-fluid">
                <h4 class="feed-title my-3">creative thoughts
                    <span>informatics</span>
                </h4>
                <p>Show your ideas to us and we'll know them!</p>
            </div>

        </div>
        <!-- //footer top row -->
    </div>
</section>
<!-- footer top -->
<!-- footer -->
<footer class="py-sm-5">
    <div class="container">
        <div class="row py-5">
            <!-- footer grid1 -->
            <div class="col-lg-3 col-sm-6">
                <h2>
                    <a class="navbar-brand" href="IndexHome.html">
                        高校实训管理
                    </a>
                </h2>
                <div class="fv3-contact mt-3">
                    <span class="fas fa-home mr-2"></span>
                    <p>WHU, WeCharge</p>
                </div>
                <div class="fv3-contact">
                    <span class="fas fa-phone-volume mr-2"></span>
                    <p>+456 123 7890</p>
                </div>
                <div class="fv3-contact">
                    <span class="fas fa-envelope-open mr-2"></span>
                    <a href="mailto:2697732841@qq.com" class="text-secondary">info@example.com</a>
                </div>
            </div>
            <!-- //footer grid1 -->
            <!-- footer grid2 -->
            <div class="col-lg-3  col-sm-6 footv3-left text-lg-center my-sm-0 mt-5">
                <h3 class="mb-3">关于本平台</h3>
                <ul class="list-agileits">
                    <li>
                        <a href="#head" role="button">
                            回到顶部
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="#about" role="button">
                            平台功能
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#special" role="button">
                            平台特色
                        </a>
                    </li>
                    <li>
                        <a href="#admin" role="button">
                            管理模式
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3  col-sm-6 footv3-left text-lg-center my-lg-0 mt-sm-5 mt-5">
                <h3 class="mb-3">关注我们</h3>
                <ul class="list-agileits">
                    <li>
                        <a target="_blank" href="https://weibo.com/u/7226819426" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2">
                            新浪微博
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3  col-sm-6 footv3-left text-lg-center my-lg-0 mt-sm-5 mt-5">
                <h3 class="mb-3">您的想法</h3>
                <div class="contact-top1">
                    <form action="#" method="get" class="f-color pt-3">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" id="contactcomment" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block">提交</button>
                    </form>
                </div>
            </div>
            <!-- //footer grid4 -->
        </div>
        <div class="cpy-right text-center  pt-5 pb-sm-0 pb-3">
            <p class="text-secondary">Copyright &copy; 2019 Summer.Work of WeCharge,WHU.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </div>
    </div>
    <!-- //footer container -->
</footer>
<!-- //footer -->
<!--Student login modal -->
<!-- // Register modal -->
<!--find password -->
<!--//Find password -->
<!--Items and conditions -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel5">条款和条件</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- //Items and conditions -->

<!-- js-->
<script src="js/jquery-2.2.3.min.js"></script>
<!--  magnific-popup  -->
<script src="js/jquery.magnific-popup.js"></script>
<script>
    //script for magnific pop up (about section)
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
    $(function() {

        var btn = $("#tel_btn");
        $(function() {
            btn.click(settime);
        })
        var countdown = 60;
        function settime() {
            if (countdown == 0) {
                btn.attr("disabled", false);
                btn.html("获取验证码");
                btn.removeClass("disabled");
                countdown = 5;
                return;
            } else {
                btn.addClass("disabled");
                btn.attr("disabled", true);
                btn.html("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(settime, 1000);
        }
    })
</script>
<!-- move-top -->
<script src="js/move-top.js"></script>
<!-- easing -->
<script src="js/easing.js"></script>
<!-- smooth scroll -->
<script src="js/SmoothScroll.min.js"></script>
<!--  necessary snippets for few javascript files -->
<script src="js/stock.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.js "></script>
<script>
    function my$(id) {
        return document.getElementById(id);
    }

    var box=my$("box");
    var inner=box.children[0];
    var ulObj=inner.children[0];
    var list=ulObj.children;
    var olObj=inner.children[1];
    var arr=my$("arr");
    var imgWidth=inner.offsetWidth;
    var right=my$("right");
    var pic=0;

    for(var i=0;i<list.length;i++){
        var liObj=document.createElement("li");

        olObj.appendChild(liObj);
        liObj.innerText=(i+1);
        liObj.setAttribute("index",i);

        //为按钮注册mouseover事件
        liObj.onmouseover=function () {


            for (var j=0;j<olObj.children.length;j++){
                olObj.children[j].removeAttribute("class");
            }
            this.className="current";
            pic=this.getAttribute("index");
            animate(ulObj,-pic*imgWidth);
        }

    }

    olObj.children[0].className = "current";
    ulObj.appendChild(ulObj.children[0].cloneNode(true));

    var timeId=setInterval(onmouseclickHandle,5000);
    box.onmouseover=function () {
        arr.style.display="block";
        clearInterval(timeId);
    };
    box.onmouseout=function () {
        arr.style.display="none";
        timeId=setInterval(onmouseclickHandle,5000);
    };

    right.onclick=onmouseclickHandle;
    function onmouseclickHandle() {+7
        if (pic == list.length - 1) {
            pic = 0;
            ulObj.style.left = 0 + "px";
        }
        pic++;
        animate(ulObj, -pic * imgWidth);
        if (pic == list.length - 1) {
            olObj.children[olObj.children.length - 1].className = "";
            olObj.children[0].className = "current";
        } else {
            for (var i = 0; i < olObj.children.length; i++) {
                olObj.children[i].removeAttribute("class");
            }
            olObj.children[pic].className = "current";
        }
    }
    left.onclick=function () {
        if (pic==0){
            pic=list.length-1;
            ulObj.style.left=-pic*imgWidth+"px";
        }
        pic--;
        animate(ulObj,-pic*imgWidth);
        for (var i = 0; i < olObj.children.length; i++) {
            olObj.children[i].removeAttribute("class");
        }
        olObj.children[pic].className = "current";
    };

    function animate(element, target) {
        clearInterval(element.timeId);
        element.timeId = setInterval(function () {
            var current = element.offsetLeft;
            var step = 10;
            step = current < target ? step : -step;
            current += step;
            if (Math.abs(current - target) > Math.abs(step)) {
                element.style.left = current + "px";
            } else {
                clearInterval(element.timeId);
                element.style.left = target + "px";
            }
        }, 10);
    }
</script>
<script language=javascript>
    //CharMode函数
    //测试某个字符是属于哪一类.
    function CharMode(iN)
    {
        if (iN>=48 && iN <=57) //数字
            return 1;
        if (iN>=65 && iN <=90) //大写字母
            return 2;
        if (iN>=97 && iN <=122) //小写
            return 4;
        else
            return 8; //特殊字符
    }
    //bitTotal函数
    //计算出当前密码当中一共有多少种模式
    function bitTotal(num)
    {
        modes=0;
        for (i=0; i<4; i++)
        {
            if (num & 1) modes++;
            num>>>=1;
        }
        return modes;
    }
    //checkStrong函数
    //返回密码的强度级别
    function checkStrong(sPW)
    {
        if (sPW.length<=4)
            return 0; //密码太短
        Modes=0;
        for (i=0; i<sPW.length; i++)
        {
            //测试每一个字符的类别并统计一共有多少种模式.
            Modes|=CharMode(sPW.charCodeAt(i));
        }
        return bitTotal(Modes);
    }
    //pwStrength函数.www.qichepeijian.com
    //当用户放开键盘或密码输入框失去焦点时,根据不同的级别显示不同的颜色
    function pwStrength(pwd)
    {
        O_color="#eeeeee";
        L_color="#FF0000";
        M_color="#FF9900";
        H_color="#33CC00";
        if (pwd==null||pwd=='')
        {
            Lcolor=Mcolor=Hcolor=O_color;
        }
        else
        {
            S_level = checkStrong(pwd);
            switch(S_level)
            {
                case 0:
                    Lcolor = Mcolor = Hcolor = O_color;
                case 1:
                    Lcolor = L_color;
                    Mcolor = Hcolor = O_color;
                    break;
                case 2:
                    Lcolor = Mcolor = M_color;
                    Hcolor = O_color;
                    break;
                default:
                    Lcolor=Mcolor=Hcolor=H_color;
            }
        }
        document.getElementById("strength_L").style.background=Lcolor;
        document.getElementById("strength_M").style.background=Mcolor;
        document.getElementById("strength_H").style.background=Hcolor;
        return;
    }
</script>
</body>
</html>