<!DOCTYPE HTML>
<html lang="zxx">

    <head>
        <title>详细信息</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content="" />
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- Custom CSS -->
        <link href="css/style.css" rel='stylesheet' type='text/css' />
        <!-- font-awesome icons -->
        <link href="css/fontawesome-all.min.css" rel="stylesheet">
        <!-- //Custom Theme files -->
    </head>

    <body>
    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="navbar navbar-expand-lg navbar-light py-4">
                <!-- logo -->
                <h1>
                    <a class="navbar-brand" href="home.html">
                        实训管理平台
                    </a>
                </h1>
                <!-- //logo -->
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- main nav -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="home.html">主页
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="company.html">选公司
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item mr-lg-3">
                            <a class="nav-link" href="position.html">选职位
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-danger ml-lg-5 w3ls-btn" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2">
                                企业登录
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-danger ml-lg-5 w3ls-btn" data-toggle="modal" aria-pressed="false" data-target="#exampleModal1">
                                教师登录
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-danger ml-lg-5 w3ls-btn" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">
                                学生登录
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- //main nav -->
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
   <div class="container">
            <!-- inner banner -->
            <div class="inner_banner layer" id="home">
            <div class="agileinfo-inner">
                <h3 class="text-center text-white">
                    To Find Your Company
                </h3>
            </div>
        </div>
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="home.html">主页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="company.html">选公司</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">详细信息</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!--  single page -->
    <section class="single_blog_wthree py-3">
        <div class="container pt-lg-5">
            <div class="row py-sm-3">
                <!-- single page left grid -->
                <div class="col-lg-9  single-left">
                    <div class="row show-top-grids">
                        <div class="card">
                            <h5 class="blog-title singlpage_w3 card-title font-weight-bold">
                                Transform Your Dreams Into Reality
                            </h5>
                            <img class="card-img-bottom" src="images/img4.jpg" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between border-bottom pb-3">
                                    <div class="blog_w3icon">
                                            <span>
                                                <i class="fas fa-user mr-2"></i>Stella</span>
                                        <span class="ml-3">
                                                <i class="fab fa-servicestack mr-2"></i>Funding Trends</span>
                                    </div>
                                </div>
                                <article class="mt-3">Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                                    Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit
                                    tortor eget felis porttitor volutpat</article>
                                <p class="card-text mt-3">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget
                                    felis porttitor volutpat. Proin eget tortor risus. Curabitur non nulla sit amet nisl
                                    tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec,
                                    egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat..
                                </p>
                            </div>
                            <div class="d-sm-flex">
                                <div class="col-md-6">
                                    <p class="card-text mt-3 text-muted">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor
                                        eget felis porttitor volutpat. Proin eget tortor risus. Curabitur non nulla sit amet
                                        nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque
                                        nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat..
                                    </p>
                                </div>
                                <div class="col-md-6 mt-sm-0 my-4">
                                    <img src="images/g1.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                        <div class="all-comments mt-5">
                            <div class="wthree-form-left">
                                <!-- contact form grid -->
                                <div class="contact-top1">
                                    <h5 class="text-dark mb-4 text-capitalize">leave a reply</h5>
                                    <form action="#" method="get" class="f-color p-3">
                                        <div class="form-group">
                                            <label for="contactcomment">Your Comment</label>
                                            <textarea class="form-control border" rows="5" id="contactcomment" required=""></textarea>
                                        </div>
                                        <div class="d-sm-flex">
                                            <div class="col-sm-6 form-group p-0">
                                                <label for="contactusername">Name</label>
                                                <input type="text" class="form-control border" id="contactusername" required="">
                                            </div>
                                            <div class="col-sm-6 form-group ml-sm-3">
                                                <label for="contactemail">Email</label>
                                                <input type="email" class="form-control border" id="contactemail" required="">
                                            </div>
                                        </div>
                                        <button type="submit" class="mt-3 btn btn-danger btn-block">上传评论</button>
                                        <a href="FindCompany.html" class="mt-3 btn btn-danger btn-block">返回</a>
                                    </form>
                                </div>
                                <!--  //contact form grid ends here -->
                            </div>
                            <div class="media py-5">
                                <img class="mr-3" src="images/m.png" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0">Michael</h5>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                    </p>
                                    <div class="media mt-5">
                                        <a class="pr-3" href="#">
                                            <img src="images/f.png" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mt-0">James</h5>
                                            <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                                turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                                                congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <img class="mr-3" src="images/m.png" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0">Jack</h5>
                                    <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                                        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //single page right grid -->
                <!-- side bar -->
                <div class="col-lg-3 sidebar_wthree">
                    <!-- Search Widget -->
                    <div class="card mb-4">
                        <h5 class="card-header">Search</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button">Go!</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <!--//Search Widget -->
                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Text Widget</h5>
                        <div class="card-body">
                            <p> Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis
                                porttitor volutpat.
                            </p>
                        </div>
                    </div>
                    <!-- latest post -->
                    <div class="card my-4 p-3 post_link">
                        <h5 class="card-header">Latest posts</h5>
                        <div class="row mt-3">
                            <div class="col-4">
                                <a href="blog.html">
                                    <img class="card-img-bottom" src="images/img2.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-8 pl-0">
                                <a href="blog.html">eveniie arcet ut moles morbi dapiti</a>
                                <p class="card-text">
                                    <small class="text-muted">26 April,2018</small>
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-4">
                                <a href="blog.html">
                                    <img class="card-img-bottom" src="images/img5.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-8 pl-0">
                                <a href="blog.html">eveniie arcet ut moles morbi dapiti</a>
                                <p class="card-text">
                                    <small class="text-muted">1 May, 2018</small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <a href="blog.html">
                                    <img class="card-img-bottom" src="images/img4.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-8 pl-0">
                                <a href="blog.html">eveniie arcet ut moles morbi dapiti</a>
                                <p class="card-text">
                                    <small class="text-muted">10 May 2018</small>
                                </p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-4">
                                <a href="blog.html">
                                    <img class="card-img-bottom" src="images/img3.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-8 pl-0">
                                <a href="blog.html">eveniie arcet ut moles morbi dapiti</a>
                                <p class="card-text">
                                    <small class="text-muted">12 May 2018</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- //side bar -->

                </div>
            </div>
        </div>
    </section>
    <!-- //single blog -->
    <!-- footer top -->
    <section class="footerw3-top py-lg-5">
        <div class="container py-md-5">
            <!-- footer top row -->
            <div class="row py-5">
                <div class="col-md-4">
                    <img src="images/f1.png" alt="" class="img-fluid">
                    <h4 class="feed-title my-3">Email and Live chat
                        <span>24/7</span>
                    </h4>
                    <p> ligula sed magna as ultriciesDonec rutrum congue leo eget.</p>
                </div>
                <div class="col-md-4 my-md-0 my-4">
                    <img src="images/f2.png" alt="" class="img-fluid">
                    <h4 class="feed-title my-3">any query or clarifiactions?
                        <span>call us</span>
                    </h4>
                    <p class="mb-0">+ 10 000 12345 </p>
                    <p>+ 10 000 12346 </p>
                </div>
                <div class="col-md-4">
                    <img src="images/f3.png" alt="" class="img-fluid">
                    <h4 class="feed-title my-3">creative thoughts
                        <span>informatics</span>
                    </h4>
                    <p>Ras ultricies ligula sed magna Donec rutrum congue leo eget.</p>
                </div>

            </div>
            <!-- //footer top row -->
        </div>
    </section>
    <!-- footer top -->
    <!-- footer -->
    <footer class="py-sm-5">
        <div class="container">
            <div class="row py-5">
                <!-- footer grid1 -->
                <div class="col-lg-3 col-sm-6">
                    <h2>
                        <a class="navbar-brand" href="StudentIndex.html">
                            stock
                        </a>
                    </h2>
                    <div class="fv3-contact mt-3">
                        <span class="fas fa-home mr-2"></span>
                        <p>90 Street, City, State 34789.</p>
                    </div>
                    <div class="fv3-contact">
                        <span class="fas fa-phone-volume mr-2"></span>
                        <p>+456 123 7890</p>
                    </div>
                    <div class="fv3-contact">
                        <span class="fas fa-envelope-open mr-2"></span>
                        <a href="mailto:example@email.com" class="text-secondary">info@example.com</a>
                    </div>
                </div>
                <!-- //footer grid1 -->
                <!-- footer grid2 -->
                <div class="col-lg-3  col-sm-6 footv3-left text-lg-center my-sm-0 mt-5">
                    <h3 class="mb-3">our services</h3>
                    <ul class="list-agileits">
                        <li>
                            <a href="StudentIndex.html">
                                quality resourcing
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="company.html">
                                inventory tracking
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="position.html">
                                financial planning
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                budget friendly
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer grid2 -->
                <!-- footer grid3 -->
                <div class="col-lg-3  col-sm-6 footv3-left text-lg-center my-lg-0 mt-sm-5 mt-5">
                    <h3 class="mb-3">Navigation</h3>
                    <ul class="list-agileits">
                        <li>
                            <a href="StudentIndex.html">
                                Home
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="company.html">
                                About Us
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="position.html">
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer grid3 -->
                <!-- footer grid4  -->
                <div class="col-lg-3  col-sm-6 footv3-left my-lg-0 mt-5">
                    <h3 class="mb-3">subscribe to newsletter</h3>
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control  bg-dark border-0" id="email" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="form-group">
                            <input type="Submit" class="form-control bg-secondary text-white border-0" id="sub" value="submit" name="sub">
                        </div>
                    </form>
                </div>
                <!-- //footer grid4 -->
            </div>
            <div class="cpy-right text-center  pt-5 pb-sm-0 pb-3">
                <p class="text-secondary">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
        </div>
        <!-- //footer container -->
    </footer>
    <!-- //footer -->
    <!--Student login modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">学生登录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="StudentIndex.html" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">用户名</label>
                            <input type="text" class="form-control border" placeholder="请输入用户名、手机号或邮箱 " name="Name" id="recipient-name" required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">密码</label>
                            <input type="password" class="form-control border" placeholder=" " name="Password" id="password" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control border text-white" value="登录">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand" value="">
                                <label for="brand" class="text-muted">
                                    <span></span>记住密码</label>
                            </div>
                            <div class="col forgot-w3l text-right text-dark">
                                <a href="#" data-toggle="modal" data-target="#exampleModal4" class="text-white">忘记密码?</a>
                            </div>
                        </div>
                        <p class="text-center">还没有账户？
                            <a href="#" data-toggle="modal" data-target="#exampleModal3" class="text-dark font-weight-bold">
                                现在注册</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //Student login modal -->
    <!--Teacher login modal-->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">教师登录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="StudentIndex.html" method="post">
                        <div class="form-group">
                            <label for="school" class="col-form-label">请选择您的学校</label>
                            <select class="form-control border" name="School"  id="school" required="">
                                <option></option>
                                <option value ="WHU">武汉大学</option>
                                <option value ="HUST">华中科技大学</option>
                                <option value="CCNU">华中师范大学</option>
                                <option value="BUAA">北京航空航天大学</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name1" class="col-form-label">用户</label>
                            <input type="text" class="form-control border" placeholder="请输入用户名、手机号或邮箱 " name="Name" id="recipient-name1" required="">
                        </div>
                        <div class="form-group">
                            <label for="password3" class="col-form-label">密码</label>
                            <input type="password" class="form-control border" placeholder=" " name="Password" id="password3" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control border text-white" value="登录">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-muted">
                                    <span></span>记住密码</label>
                            </div>
                            <div class="col forgot-w3l text-right text-dark">
                                <a href="#" data-toggle="modal" data-target="#exampleModal4" class="text-white">忘记密码?</a>
                            </div>
                        </div>
                        <p class="text-center">温馨提醒：如果没有账号，请联系贵校管理员为您添加账号进行登录，谢谢！</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //Teacher login modal -->
    <!--Corporation login modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel4">企业登录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="StudentIndex.html" method="post">
                        <div class="form-group">
                            <label for="recipient-name2" class="col-form-label">用户名</label>
                            <input type="text" class="form-control border" placeholder="请输入用户名、手机号或邮箱 " name="Name" id="recipient-name2" required="">
                        </div>
                        <div class="form-group">
                            <label for="password4" class="col-form-label">密码</label>
                            <input type="password" class="form-control border" placeholder=" " name="Password" id="password4" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control border text-white" value="登录">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand2" value="">
                                <label for="brand2" class="text-muted">
                                    <span></span>记住密码</label>
                            </div>
                            <div class="col forgot-w3l text-right text-dark">
                                <a href="#" data-toggle="modal" data-target="#exampleModal4" class="text-white">忘记密码?</a>
                            </div>
                        </div>
                        <p class="text-center">还没有账户？
                            <a href="#" data-toggle="modal" data-target="#exampleModal3" class="text-dark font-weight-bold">
                                现在注册</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //Corporation login modal -->
    <!-- Register modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">注册</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="StudentIndex.html" method="post">
                        <div class="form-group">
                            <label for="recipient-name3" class="col-form-label">用户名</label>
                            <input type="text" class="form-control border" placeholder=" " name="Name" id="recipient-name3" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control border" placeholder=" " name="Email" id="recipient-email" required="">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">密码</label>
                            <input type="password" class="form-control border" placeholder=" " name="Password" id="password1" required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">确认密码</label>
                            <input type="password" class="form-control border" placeholder=" " name="Confirm Password" id="password2" required="">
                        </div>
                        <div class="sub-w3l">
                            <div class="sub-agile">
                                <input type="checkbox" id="brand3" value="">
                                <label for="brand3" class="mb-3">
                                    <span></span>我同意<a href="#" data-toggle="modal" data-target="#exampleModal5">条款和条件</a></label>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control border text-white" value="注册">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // Register modal -->
    <!--find password -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">账户找回</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="user-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control border" placeholder=" " name="email" id="user-email" required="">
                        </div>
                        <p class="text-center">将发送邮件至此邮箱以找回您的账户</p>
                        <div class="right-w3l">
                            <input type="submit" class="form-control text-white" value="立即找回">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--//Find password -->
    <!--Items and conditions -->
    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel5">条款和条件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- //Items and conditions -->
    <!-- js-->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- move-top -->
    <script src="js/move-top.js"></script>
    <!-- easing -->
    <script src="js/easing.js"></script>
    <!-- smooth scroll -->
    <script src="js/SmoothScroll.min.js"></script>
    <!--  necessary snippets for few javascript files -->
    <script src="js/stock.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js "></script>
</body>

</html>
