<!DOCTYPE HTML>
<head>
	<title>实训平台-学生-我的团队</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript"src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/jquery.cookie.js"></script> 
	<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<link href="css/style1.css" rel='stylesheet' type='text/css' />
	<link href="css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- popup box -->
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Custom CSS -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href="css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
		<script src="js/student/StuTeam.js"></script>
	<script src="js/amcharts.js"></script>
	<script src="js/serial.js"></script>
	<script src="js/light.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/pie-chart.js" type="text/javascript"></script>
</head>
<body>
<div class="page-container">
	<div class="left-content">
		<div class="inner-content">
			<div class="header-section navbar" >
				<div class="header_top">
					<div class="top_left">
						<h2><a href="IndexHome.html" style="color: indianred">退出登录</a></h2>
					</div>
					<div class="top_left">
						<h2><span></span> 用户：<a id="username" href="StuHomepage.html">未登录&nbsp;&nbsp;&nbsp;</a></h2>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"></div>
			</div>
            <div class="content1">
                <div class="fo-top-dj">
                    <div class="header_bg">
                         <div class="header">
                              <div class="head-t">
                                  <div class="header_right">
                                      <div class="search">
                                          <form>
                                              <input type="text" value="" placeholder="搜索团队...">
                                              <input type="submit" value="">
                                          </form>
                                        </div>
                                        <div class="clearfix"> </div>
                                   </div>
                                   <div class="clearfix"> </div>
                              </div>
                         </div>
                    </div>
                    <h3 class="sub-tittle">我的团队:</h3>
                    <div class="content tab">
                         <div class="fo-top">
                             <table id="team_table" border="none" style=" width: 1000px;text-align: center;margin-left: 50px">

                             </table>
                         </div>
                    </div>
                 </div>
            </div>
			<div class="content">
				<div class="clearfix"></div>
				<div class="clearfix"></div>
				<div class="fo-top-di">
					<div class="foot-top">
						<div class="col-md-6 s-c">
							<li>
								<div class="fooll">
									<h1>follow us on</h1>
								</div>
							</li>
							<li>
								<div class="social-ic">
									<ul>
										<li><a href="#"><i class="facebok"> </i></a></li>
										<li><a href="#"><i class="twiter"> </i></a></li>
										<li><a href="#"><i class="goog"> </i></a></li>
										<li><a href="#"><i class="be"> </i></a></li>
										<div class="clearfix"></div>
									</ul>
								</div>
							</li>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="sidebar-menu">
		<header class="logo1">
			<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
		</header>
		<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu" >
                <li><a href="StuHomepage.html"><span>主页</span></a></li>
                <li><a href="StuInternship.html"><span>项目</span></a></li>
                <li><a href="StuTeam.html"><span>团队</span></a></li>
                <li><a href="StuLog.html"><span>日志</span></a></li>
                <li><a href="StuResource.html"><span>资源库</span></a></li>
                <li><a href="StudentMessage.html"><span>收到的消息</span></a></li>
            </ul>
        </div>
	</div>
	<div class="clearfix"></div>
</div>
<script>
	var toggle = true;

	$(".sidebar-icon").click(function() {
		if (toggle)
		{
			$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
			$("#menu span").css({"position":"absolute"});
		}
		else
		{
			$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
			setTimeout(function() {
				$("#menu span").css({"position":"relative"});
			}, 400);
		}
		toggle = !toggle;
	});
</script>
<script>
	function myFunction() {
		alert("加入成功")
	}
</script>
</body>
</html>