<!DOCTYPE HTML>
<head>
    <title>实训平台-教师-资源</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript"src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/jquery.cookie.js"></script> 
	<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/style1.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- popup box -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <link rel="stylesheet" href="webfonts/teac-icon-font/iconfont.css">
	<script src="js/teacher/TeacherResourceLib.js"></script>
    <script src="js/amcharts.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/light.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <style>
            tr{
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: rgb(230, 189, 189);
            }
            table{
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: rgb(230, 189, 189);
            }
            td{
                padding: 5px 10px;
                font-size: 13px;
                font-family:微软雅黑;
                color: rgb(177, 106, 104);
            }
            th{
                padding: 5px 10px;
                font-size: 15px;
                font-family: 微软雅黑;
                color: rgb(0, 0, 0);
            }
            tr:nth-child(even) {
                background: rgb(248, 255, 247);
            }
            tr:nth-child(odd) {
                background: rgb(238, 217, 215)
            }
        </style>
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="inner-content user">
            <div class="header-section navbar" >
                <div class="header_top">
                    <a href="TeacherHomepage.html" class="top_right" style="color: #B52E31">实训管理平台-教师</a>
                    <div class="top_left">
                        <h2><a href="IndexHome.html" style="color: indianred">退出登录</a></h2>
                    </div>
                    <div class="top_left">
                        <h2><span></span> 用户：<a id="username" href="StuHomepage.html">未登录&nbsp;&nbsp;&nbsp;</a></h2>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="content1">
                <div class="fo-top-dj">
                    <h3 class="sub-tittle">已有资源:</h3>
                    <div class="content tab">
                        <div class="fo-top">
                            <div class="form-group">
                                <div id="file_list" class="hover1">
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content1">
                <div class="fo-top-dj">
                    <h3 class="sub-tittle">上传资源文件:</h3>
                    <div class="content tab">
                        <div class="fo-top">
                            <div class="form-group">
                                <div class="col-sm-8 ">
                                    <textarea  id="fileName" style="height:100px;width:500px;border:1px solid black; outline: none;margin-left:80px;border-radius: 10px;background: transparent" readonly></textarea>
                                </div>
                                <form onsubmit="return false">
                                    <div class="col-sm-8 ">
                                        <br><br>
                                        <label class="studentinput" for="file" style="margin-left: 185px;width: 200px;text-align: center">选择文件</label>
                                        <br><br>
                                        <input type="file" id="file" style="position:absolute;clip:rect(0 0 0 0);" onchange="handleFile()">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-8 ">
                                        <input id="bu1" type="button" class="studentinput" style="width: 200px;margin-left: 185px" value="提交">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="fo-top-di">
                    <div class="foot-top">
                        <div class="col-md-6 s-c">
                            <li>
                                <div class="fooll">
                                    <h1>follow us on</h1>
                                </div>
                            </li>
                            <li>
                                <div class="social-ic">
                                    <ul>
                                        <li><a href="#"><i class="facebok"> </i></a></li>
                                        <li><a href="#"><i class="twiter"> </i></a></li>
                                        <li><a href="#"><i class="goog"> </i></a></li>
                                        <li><a href="#"><i class="be"> </i></a></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </li>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
           <ul id="menu" >
              <li><a href="TeacherHomepage.html"><i class="iconfont icon-Xtubiao-shouye"></i><span>我的主页</span></a></li>
              <li><a href="TeacherInternPlan.html"><i class="iconfont icon-date"></i><span>实训计划</span></a></li>
              <li><a href="TeacherInternProject.html"><i class="iconfont icon-Management"></i><span>实训项目</span></a></li>
              <li><a href="TeacherInternTeam.html"><i class="iconfont icon-Team"></i><span>实训团队</span></a></li>
              <li><a href="TeacherCheckStudent.html"><i class="iconfont icon-wode"></i><span>学生</span></a></li>
              <li><a href="TeacherRecord.html"><i class="iconfont icon-Document"></i><span>记录</span></a></li>
              <li><a href="TeacherResourceLib.html" style="background-color: firebrick"><i class="iconfont icon-Download"></i><span>资源库</span></a></li>
           </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }
        toggle = !toggle;
    });
</script>
<script>
    var file = document.getElementById("file");
    var fileName = document.getElementById("fileName");
    function handleFile(){
        fileName.value = file.value;
    };
</script>
<script>
    var file1 = document.getElementById("file1");
    var fileName1 = document.getElementById("fileName1");
    function handleFile1(){
        fileName1.value = file1.value;
    };
</script>
</body>
</html>