<!DOCTYPE HTML>
<head>
    <title>实训平台-教师-查看团队</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript"src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/jquery.cookie.js"></script> 
	<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/style1.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- popup box -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
	<script src="js/teacher/TeacherCheckTeam.js"></script>
    <script src="js/amcharts.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/light.js"></script>
    <!-- js-->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!--  magnific-popup  -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- easing -->
    <script src="js/easing.js"></script>
    <!-- smooth scroll -->
    <script src="js/SmoothScroll.min.js"></script>
    <!--  necessary snippets for few javascript files -->
    <script src="js/stock.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js "></script>
</head>
<div class="page-container">
    <div class="left-content">
        <div class="inner-content user">
            <div class="header-section navbar" >
                <div class="header_top">
                    <div class="top_left">
                        <h2><a href="IndexHome.html" style="color: indianred">退出登录</a></h2>
                    </div>
                    <div class="top_left">
                        <h2><span></span> 用户：<a id="username" href="TeacherHomepage.html">未登录&nbsp;&nbsp;&nbsp;</a></h2>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
         <div>
            <div class="content1" style="float: left;display: inline-block">
                <div class="fo-top-dj" style="width: 850px;height: 1000px;">
                    <h3 class="sub-tittle">团队信息:</h3><br><br><br>
                    <div class="content tab">
                        <form onsubmit="return false">
                            <div class="fo-top">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">团队名称:</label>
                                    <div class="col-sm-8 ">
                                        <label id="team_name" class="form-control1" style="height: 35px;width:250px;border: none" readonly></label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">计划名称:</label>
                                    <div class="col-sm-8 ">
                                        <label id="plan_name" class="form-control1" style="height: 35px;width:200px;border: none" readonly></label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">项目名称:</label>
                                    <div class="col-sm-8 ">
                                        <label id="pro_name" class="form-control1" style="height: 35px;width:250px;border: none" readonly></label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">实训时间:</label>
                                    <div class="col-sm-8 ">
                                        <label id="time" class="form-control1" style="height: 35px;width:250px;border: none" readonly></label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">学校:</label>
                                    <div class="col-sm-8 ">
                                        <label id="sch_name" class="form-control1" style="height: 35px;width:250px;border: none" readonly></label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">负责公司:</label>
                                    <div class="col-sm-8 ">
                                        <label id="com_name" class="form-control1" style="height: 35px;width:250px;border: none" readonly></label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">团队成员:</label>
                                    <div id="stu_list" class="col-sm-8 ">
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Github地址:</label>
                                    <div class="col-sm-8 ">
                                        <a id="github" class="form-control1" style="height: 35px;width:250px;border: none" readonly></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="fo-top">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">团队分数:</label>
                                    <div class="col-sm-8 ">
                                        <label id="team_score" class="form-control1" style="height: 35px;width:250px;border: none" readonly></label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div><br><br>
                            <button type="button" class="studentinput" style="margin-left: 200px;width: 200px" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2">发送消息</button>
                            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel4">发送消息</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form  onsubmit="return false">
											    <textarea id="title" class="form-control1" style="height: 40px;width:400px;margin-left: 25px"></textarea>
                                                <textarea id="msg" class="form-control1" style="height: 300px;width:400px;margin-left: 25px"></textarea>
                                                <br><br> 
                                                <input id="send" type="button" class="studentinput" style="width: 200px;margin-left: 135px" value="确认">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <a href="TeacherInternTeam.html"  class="studentinput" style="width: 200px;margin-left: 200px"><span style="color: white;padding-left: 65px">返回</span></a>
                        </form>
                    </div>
                </div>
            </div>
			<div class="col-sm-8 ">
			
            </div>
            <div class="content1" style="width:300px;display: inline-grid">
			<select id="stats" style="width: 200px;height: 35px">
			<option value="-1">全部</option>
			<option value="0">第一周</option>
			<option value="1">第二周</option>
			<option value="2">第三周</option>
			</select><br>
                      <canvas id="canvas1" width="350" height="260"></canvas>
                      <label style="margin-left: 150px;font-size: 12px">新增代码量</label><br><br>
                      <canvas id="canvas2" width="350" height="250"></canvas>
                      <label style="margin-left: 150px;font-size: 12px">删除代码量</label><br><br>
                      <canvas id="canvas3" width="350" height="250"></canvas>
                      <label style="margin-left: 150px;font-size: 12px">上传次数</label><br><br>
            </div>
          </div>
            <div class="content">
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="fo-top-di">
                    <div class="foot-top">
                        <div class="col-md-6 s-c">
                            <li>
                                <div class="fooll">
                                    <h1>follow us on</h1>
                                </div>
                            </li>
                            <li>
                                <div class="social-ic">
                                    <ul>
                                        <li><a href="#"><i class="facebok"> </i></a></li>
                                        <li><a href="#"><i class="twiter"> </i></a></li>
                                        <li><a href="#"><i class="goog"> </i></a></li>
                                        <li><a href="#"><i class="be"> </i></a></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </li>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <header class="logo1">
                    <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
                </header>
                <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                <div class="menu">
                    <ul id="menu" >
                        <li><a href="TeacherHomepage.html"><span>我的主页</span></a></li>
                        <li><a href="TeacherCheckTeacher.html"><span>教师</span></a></li>
                        <li><a href="TeacherInternPlan.html"><span>实训计划</span></a></li>
                        <li><a href="TeacherInternProject.html"><span>实训项目</span></a></li>
                        <li><a href="TeacherInternTeam.html"><span>实训团队</span></a></li>
                        <li><a href="TeacherCheckStudent.html"><span>学生</span></a></li>
                        <li><a href="TeacherRecord.html"><span>记录</span></a></li>
                        <li><a href="TeacherResourceLib.html"><span>资源库</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }
        toggle = !toggle;
    });
</script>
<script>
    function upLoad(){
        var fileInput = document.getElementById("upimg");
        var file = fileInput.files[0];
        //创建读取文件的对象
        var reader = new FileReader();
        //创建文件读取相关的变量
        var imgFile;
        //为文件读取成功设置事件
        reader.onload=function(e) {
            // alert('文件读取完成');
            imgFile = e.target.result;
            console.log(imgFile);
            $("#img").attr('src',imgFile);
        };

        //正式读取文件
        reader.readAsDataURL(file);
    }
</script>

</html>
</body>
</html>