<!DOCTYPE HTML>
<head>
    <title>实训平台-教师-我的实习</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/style1.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- popup box -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <script src="js/amcharts.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/light.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/pie-chart.js" type="text/javascript"></script>
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="inner-content">
            <div class="header-section navbar" >
                <div class="header_top">
                    <div class="top_right">
                        <ul>
                            <li><a href="TeacherIndex.html">首页</a></li>|
                            <li><a href="TeacherFindCompany.html">找公司</a></li>|
                            <li><a href="TeacherFindPosition.html">找职位</a></li>
                        </ul>
                    </div>
                    <div class="top_left">
                        <h2><a href="IndexHome.html" style="color: indianred">退出登录</a></h2>
                    </div>
                    <div class="top_left">
                        <h2><span></span> 用户：<a href="TeacherHomepage.html">123&nbsp;&nbsp;&nbsp;</a></h2>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="content1">
                <div class="fo-top-dj">
                    <h3 class="sub-tittle">实习计划:</h3>
                    <div class="content tab">
                        <br>
                        <a class="ui_button" href="TeacherCreatePlan.html" style="width:100px;margin-left:900px;background-color:#B52E31 ">创建计划</a>
                        <br><br><br><br>
                        <div class="Internship">
                        <div class="fo-top">
                            <div class="form-group">
                                <br>
                                <a class="ui_button" href="TeacherModifyPlan.html" style="width:100px;margin-left:750px;background-color:#B52E31">修改</a>
                                <label  class="col-sm-2 control-label">实习计划:</label>
                                <div class="col-sm-8 ">
                                    <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">2017年*****</label>
                                </div>
                                <div class="clearfix"></div>
                                <label  class="col-sm-2 control-label">实习课程:</label>
                                <div class="col-sm-8 ">
                                    <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">中级项目实践</label>
                                </div>
                                <div class="clearfix"></div>
                                <label  class="col-sm-2 control-label">实习时长:</label>
                                <div class="col-sm-8 ">
                                    <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">21天</label>
                                </div>
                                <div class="clearfix"></div>
                                <label  class="col-sm-2 control-label">实习日期:</label>
                                <div class="col-sm-8 ">
                                    <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">2019.6.24-2019.7.14</label>
                                </div>
                                <div class="clearfix"></div>
                                <label  class="col-sm-2 control-label">修读形式:</label>
                                <div class="col-sm-8 ">
                                    <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">必修</label>
                                </div>
                                <div class="clearfix"></div>
                                <label  class="col-sm-2 control-label">指导老师:</label>
                                <div class="col-sm-8 ">
                                    <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">***，**</label>
                                </div>
                                <div class="clearfix"></div>
                                <input type="submit" class="studentinput" value="删除" style="width: 50px;height:45px;margin-left: 750px;padding-left: 10px" onclick="myFunction()"/>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        </div>
                        <div class="Internship">
                            <div class="fo-top">
                                <div class="form-group">
                                    <br>
                                    <a class="ui_button" href="TeacherModifyPlan.html" style="width:100px;margin-left:750px;background-color:#B52E31">修改</a>
                                    <label  class="col-sm-2 control-label">实习计划:</label>
                                    <div class="col-sm-8 ">
                                        <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">2016年*****</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <label  class="col-sm-2 control-label">实习课程:</label>
                                    <div class="col-sm-8 ">
                                        <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">初级项目实践</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <label  class="col-sm-2 control-label">实习时长:</label>
                                    <div class="col-sm-8 ">
                                        <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">21天</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <label  class="col-sm-2 control-label">实习日期:</label>
                                    <div class="col-sm-8 ">
                                        <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">2019.6.24-2019.7.14</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <label  class="col-sm-2 control-label">修读形式:</label>
                                    <div class="col-sm-8 ">
                                        <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">必修</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <label  class="col-sm-2 control-label">指导老师:</label>
                                    <div class="col-sm-8 ">
                                        <label type="text" class="form-control1" style="border:0px;background:rgba(0, 0, 0, 0); ">***，**</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <input type="submit" class="studentinput" value="删除" style="width: 50px;height:45px;margin-left: 750px;padding-left: 10px" onclick="myFunction()"/>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="fo-top-di">
                    <div class="foot-top">
                        <div class="col-md-6 s-c">
                            <li>
                                <div class="fooll">
                                    <h1>follow us on</h1>
                                </div>
                            </li>
                            <li>
                                <div class="social-ic">
                                    <ul>
                                        <li><a href="#"><i class="facebok"> </i></a></li>
                                        <li><a href="#"><i class="twiter"> </i></a></li>
                                        <li><a href="#"><i class="goog"> </i></a></li>
                                        <li><a href="#"><i class="be"> </i></a></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </li>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="sidebar-menu">
                <header class="logo1">
                    <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
                </header>
                <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                <div class="menu">
                    <ul id="menu" >
                        <li><a href="TeacherHomepage.html"><span>教师主页</span></a></li>
                        <li><a href="TeacherInternPlan.html"><span>实习计划</span></a></li>
                        <li><a href="TeacherSelectedIntern.html"><span>已选项目</span></a></li>
                        <li><a href="TeacherViewTeam.html"><span>团队</span></a></li>
                        <li><a href="TeacherMark.html"><span>评分</span></a></li>
                        <li><a href="TeacherRecord.html"><span>写记录</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script>
            var toggle = true;

            $(".sidebar-icon").click(function() {
                if (toggle)
                {
                    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                    $("#menu span").css({"position":"absolute"});
                }
                else
                {
                    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                    setTimeout(function() {
                        $("#menu span").css({"position":"relative"});
                    }, 400);
                }
                toggle = !toggle;
            });
        </script>
<script>
    function myFunction() {
        alert("删除成功")
    }
</script>
</body>
</html>