<!DOCTYPE HTML>
<head>
    <title>实训平台-查看团队</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/style1.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- popup box -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <script src="js/amcharts.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/light.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/pie-chart.js" type="text/javascript"></script>
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="inner-content">
            <div class="header-section navbar" >
                <div class="header_top">
                    <div class="top_right">
                        <ul>
                            <li><a href="TeacherIndex.html" style="color: indianred">首页</a></li>|
                            <li><a href="TeacherFindCompany.html">找公司</a></li>|
                            <li><a href="TeacherFindPosition.html">找职位</a></li>
                        </ul>
                    </div>
                    <div class="top_left">
                        <h2><a href="IndexHome.html" style="color: indianred">退出登录</a></h2>
                    </div>
                    <div class="top_left">
                        <h2><span></span> 用户：<a href="CompHomepage.html">123&nbsp;&nbsp;&nbsp;</a></h2>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header_bg">
                <div class="header">
                    <div class="head-t">
                        <div class="header_right">
                            <div class="search">
                                <form>
                                    <input type="text" value="" placeholder="search...">
                                    <input type="submit" value="">
                                </form>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <!--            //search-->
            <div class="content1">
                <div class="fo-top-dj">
                    <h3 class="sub-tittle">团队详情:</h3><br>
                    <div class="content tab">
                        <div class="registration">
                            <div class="registration_left">
                                <!--                                script input-->
                                <script>
                                    (function() {

                                        // Create input element for testing
                                        var inputs = document.createElement('input');

                                        // Create the supports object
                                        var supports = {};

                                        supports.autofocus   = 'autofocus' in inputs;
                                        supports.required    = 'required' in inputs;
                                        supports.placeholder = 'placeholder' in inputs;

                                        // Fallback for autofocus attribute
                                        if(!supports.autofocus) {

                                        }

                                        // Fallback for required attribute
                                        if(!supports.required) {

                                        }

                                        // Fallback for placeholder attribute
                                        if(!supports.placeholder) {

                                        }

                                        // Change text inside send button on submit
                                        var send = document.getElementById('register-submit');
                                        if(send) {
                                            send.onclick = function () {
                                                this.innerHTML = '...Sending';
                                            }
                                        }

                                    })();
                                </script>
                                <!--                                //script input-->
                                <div class="registration_form">
                                    <!-- Form -->
                                    <form>
                                        <div>
                                            <label class="create_project">团队名称：
                                                <input placeholder="" type="text" tabindex="1" required="" autofocus="" readonly>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="create_project">团队人数：
                                                <input placeholder="" type="text" tabindex="2" required="" autofocus="" readonly>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="create_project">团队成员：
                                                <textarea placeholder="" tabindex="3" required="" autofocus="" class="form-control1" style="height:300px;width:400px;border:solid 1px grey" readonly></textarea>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="create_project">团队创建时间：
                                                <input placeholder="" type="date" tabindex="4" required="" readonly>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="create_project">团队参与的实训：
                                                <input placeholder="" tabindex="5" required="" readonly>
                                            </label>
                                        </div>
                                        <br>
                                        <div>
                                            <a href="javascript:history.go(-1)" style="margin-left:100px">返回</a>
                                        </div>
                                        <br>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            bottom part-->
            <div class="content">
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="fo-top-di">
                    <div class="foot-top">
                        <div class="col-md-6 s-c">
                            <li>
                                <div class="fooll">
                                    <h1>follow us on</h1>
                                </div>
                            </li>
                            <li>
                                <div class="social-ic">
                                    <ul>
                                        <li><a href="#"><i class="facebok"> </i></a></li>
                                        <li><a href="#"><i class="twiter"> </i></a></li>
                                        <li><a href="#"><i class="goog"> </i></a></li>
                                        <li><a href="#"><i class="be"> </i></a></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </li>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="footer">
                        <div class="col-md-3 cust">
                            <h4>CUSTOMER CARE</h4>
                            <li><a href="StuResource.html">Help Center</a></li>
                            <li><a href="MySummary.html">FAQ</a></li>
                            <li><a href="StuDownload.html">How To Buy</a></li>
                            <li><a href="StuLog.html">Delivery</a></li>
                        </div>
                        <div class="col-md-2 abt">
                            <h4>ABOUT US</h4>
                            <li><a href="products.html">Our Stories</a></li>
                            <li><a href="products.html">Press</a></li>
                            <li><a href="MySummary.html">Career</a></li>
                            <li><a href="StuResource.html">Contact</a></li>
                        </div>
                        <div class="col-md-2 myac">
                            <h4>MY ACCOUNT</h4>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="StuLog.html">My Cart</a></li>
                            <li><a href="StuLog.html">Order History</a></li>
                            <li><a href="StuDownload.html">Payment</a></li>
                        </div>
                        <div class="col-md-5 our-st">
                            <div class="our-left">
                                <h4>OUR STORES</h4>
                            </div>
                            <li><i class="add"> </i>Mark peter</li>
                            <li><i class="phone"> </i>012-586987</li>
                            <li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
                        </div>
                        <div class="clearfix"> </div>
                        <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                    </div>
                </div>
            </div>
            <!--            //bottom part-->
        </div>
    </div>
    <!--    side bar-->
    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu" >
                <li><a href="TeacherHomepage.html"><span>我的主页</span></a></li>
                <li><a href="TeacherCheckIntership.html"><span>查看实习</span></a></li>
                <li><a href="TeacherCheckTeam.html"><span>团队</span></a></li>
                <li><a href="TeacherCheckStudent.html"><span>学生动态</span></a></li>
                <li><a href="TeacherGiveScore.html"><span>评分评价</span></a></li>
            </ul>
        </div>
    </div>
    <!--    //side bar-->
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function() {
            if (toggle)
            {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({"position":"absolute"});
            }
            else
            {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function() {
                    $("#menu span").css({"position":"relative"});
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
</body>
</html>