
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>My WebSocket</title>
</head>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<body>
学生监管系统消息<br/>
<input id="url" text="text" value="websocket"/>
<br>
<input id="id" text="text"/>
<button onclick="link()">发送消息</button>
<br>
<input id="text" type="text" />
<button onclick="send()">链接</button>
<br>
<button onclick="closeWebSocket()">关闭连接</button>
<div id="message">
</div>
</body>

<script type="text/javascript">
    var websocket = null;

    function link() {
        //判断当前浏览器是否支持WebSocket
        if('WebSocket' in window){
            websocket = new WebSocket("ws://127.0.0.1:8080/"+$("#url").val()+"/"+$("#id").val());
            // websocket = new WebSocket("ws://106.13.15.9:8085/websocket/5555");
            // websocket = new WebSocket("ws://127.0.0.1:8085/websocket/7777");
            // websocket = new WebSocket("ws://192.168.0.101:8080/websocket/333");
            // websocket = new WebSocket("ws://180.76.107.154/sb-demo/websocket/5555");
        }else{
            alert('Not support websocket')
        }

        //连接发生错误的回调方法
        websocket.onerror = function(){
            setMessageInnerHTML("登陆失败！！！");
        };

        //连接成功建立的回调方法
        websocket.onopen = function(event){
            setMessageInnerHTML("登陆成功！！！");
        }

        //接收到消息的回调方法
        websocket.onmessage = function(event){
            setMessageInnerHTML(event.data);
        }

        //连接关闭的回调方法
        websocket.onclose = function(){
            setMessageInnerHTML("连接关闭！！！");
        }
    }




    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //发送消息
    function send(){
        var message = document.getElementById('text').value;
        websocket.send(message);
        document.getElementById('text').value = '';
    }
    //     $.toast({
    //   text : "......",
    //   showHideTransition : 'slide',
    //   bgColor : 'blue',
    //   textColor : '#eee',
    //   allowToastClose : false,
    //   hideAfter : 5000,
    //   stack : 5,
    //   textAlign : 'left',
    //   position : 'bottom-left'
    // })    
    //  text：消息提示框的内容。
    // showHideTransition：消息提示框的动画效果。可取值：plain，fade，slide。
    // bgColor：背景颜色。
    // textColor：文字颜色。
    // allowToastClose：是否显示关闭按钮。
    // hideAfter：设置为false则消息提示框不自动关闭。设置为一个数值则在指定的毫秒之后自动关闭消息提示框。
    // stack：消息栈。
    // textAlign：文本对齐：left, right, center。
    // position：消息提示框的位置：bottom-left 、 bottom-right 、 bottom-center 、 top-left 、 top-right 、 top-center 、 mid-center。

</script>
</html>
