<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycharge.trainingmanagementplatform.mapper.AccountMapper">

    <sql id="simple_trim">
        <where>
            <if test="acc_id != null">acc_id = #{acc_id,jdbcType=INTEGER}</if>
            <if test="account != null">and account = #{account,jdbcType=VARCHAR}</if>
            <if test="password != null">and password = #{password,jdbcType=VARCHAR}</if>
            <if test="user_type != null">and user_type = #{user_type,jdbcType=VARCHAR}</if>
        </where>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="acc_id" parameterType="com.alibaba.fastjson.JSONObject">
        insert account_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="user_type != null">user_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">#{account,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="user_type != null">#{user_type,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <select id="find" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject" >
        select * from account_info
        <include refid="simple_trim"></include>
    </select>

    <update id="update" parameterType="com.alibaba.fastjson.JSONObject">
        update account_info
        <set>
            <if test="new_password != null and new_password != ''">password = #{new_password}</if>
        </set>
        <include refid="simple_trim"></include>
    </update>

    <delete id="delete" parameterType="com.alibaba.fastjson.JSONObject">
        delete from account_info
        <include refid="simple_trim"></include>
    </delete>
</mapper>



