<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycharge.trainingmanagementplatform.mapper.StudentMapper">
    <!--简单的查询条件-->
    <sql id="simple_trim">
        <where>
            <if test="stu_id != null">stu_id = #{stu_id,jdbcType=INTEGER}</if>
            <if test="stu_name != null">and stu_name = #{stu_name,jdbcType=VARCHAR}</if>
            <if test="sch_id != null">and sch_id = #{sch_id,jdbcType=INTEGER}</if>

        </where>
    </sql>

    <insert id="insert"  parameterType="com.alibaba.fastjson.JSONObject">
        insert student_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stu_id != null">stu_id,</if>
            <if test="stu_name != null">stu_name,</if>
            <if test="sch_id != null">sch_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stu_id != null">#{stu_id,jdbcType=INTEGER},</if>
            <if test="stu_name != null">#{stu_name,jdbcType=VARCHAR},</if>
            <if test="sch_id != null">#{sch_id,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <select id="find" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject" >
        select * from student_info
        <include refid="simple_trim"></include>
    </select>

    <update id="update" parameterType="com.alibaba.fastjson.JSONObject">
        update student_info
        <set>
            <if test="new_stu_name != null and new_stu_name != ''">stu_name = #{new_stu_name},</if>
            <if test="new_sch_id != null and new_sch_id != ''">sch_id = #{new_sch_id}</if>
        </set>
        <include refid="simple_trim"></include>
    </update>

    <delete id="delete" parameterType="com.alibaba.fastjson.JSONObject">
        delete from student_info
        <include refid="simple_trim"></include>
    </delete>

</mapper>