<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycharge.trainingmanagementplatform.mapper.TeacherMapper">

    <sql id="simple_trim1">
        <where>
            <if test="true">tea_id = acc_id</if>
            <if test="tea_id != null">tea_id = #{tea_id,jdbcType=VARCHAR}</if>
            <if test="tea_name != null">tea_name = #{tea_name,jdbcType=VARCHAR}</if>
            <if test="tea_unit != null">and tea_unit = #{tea_unit,jdbcType=VARCHAR}</if>
        </where>
    </sql>

    <sql id="simple_trim">
    <where>
        <if test="plan_id != null">tea_unit = #{plan_id,jdbcType=INTEGER}</if>
        <if test="sch_name != null">tea_unit = sch_name and sch_name = #{sch_name,jdbcType=VARCHAR}</if>
        <if test="com_name != null">tea_unit = com_name and com_name = #{com_name,jdbcType=VARCHAR}</if>
        <if test="tea_id != null">tea_id = #{tea_id,jdbcType=INTEGER}</if>
        <if test="tea_name != null">tea_name = #{tea_name,jdbcType=VARCHAR}</if>
        <if test="tea_unit != null">and tea_unit = #{tea_unit,jdbcType=VARCHAR}</if>
    </where>
</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="tea_id" parameterType="com.alibaba.fastjson.JSONObject">
        insert teacher_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tea_id != null">tea_id,</if>
            <if test="tea_name != null">tea_name,</if>
            <if test="tea_unit != null">tea_unit_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tea_id != null">#{tea_id,jdbcType=INTEGER},</if>
            <if test="tea_name != null">#{tea_name,jdbcType=VARCHAR},</if>
            <if test="tea_unit != null">#{tea_unit,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <select id="find" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject" >
        select tea_id,tea_name,tea_unit,account,user_type from teacher_info,account_info
        <include refid="simple_trim1"></include>
    </select>

    <select id="findAll" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject" >
        select tea_id,tea_name,tea_unit,account,user_type from teacher_info,account_info
        <include refid="simple_trim1"></include>
    </select>

    <select id="findByCompany" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject" >
        select tea_id,tea_name,tea_unit from teacher_info,company_info
        <include refid="simple_trim"></include>
    </select>

    <select id="findBySchool" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject" >
        select tea_id,tea_name,tea_unit from teacher_info,school_info
        <include refid="simple_trim"></include>
    </select>

    <select id="findByPlan" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject" >
        select tea_id,tea_name from teacher_info national join plan_teacher
        <include refid="simple_trim"></include>
    </select>



    <update id="update" parameterType="com.alibaba.fastjson.JSONObject">
        update teacher_info
        <set>
            <if test="new_tea_name != null and new_tea_name != ''">tea_name = #{new_tea_name},</if>
            <if test="new_tea_unit != null and new_tea_unit != ''">tea_unit = #{new_tea_unit},</if>
        </set>
        <include refid="simple_trim"></include>
    </update>

    <delete id="delete" parameterType="com.alibaba.fastjson.JSONObject">
        delete from teacher_info
        <include refid="simple_trim"></include>
    </delete>
</mapper>



